@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

table{
    background: #FEC201;
    font-family: 'Montserrat', sans-serif;;
}

th{
    padding: 20px;
    width: 180px;
}

th:nth-of-type(2){
    background:#E6B02B ;
}

td{
    background: #35286E;
    color: white;
    padding: 20px;
    text-align: left;
    width: 180px;
}

.inputs{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.inputs input{
    margin: 2px;
    width: 210px;
}

/* button{
    padding-right: 170px;
    margin-bottom: 10px;
}

button:nth-of-type(2){
    padding-right: 140px;
}

button:nth-of-type(3){
    padding-right: 115px;
} */

button{
    width: 218px;
    margin-bottom: 10px;
}